<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %> 
    
    <link rel="stylesheet" href="/css/productDetail.css">
   <title>Document</title>
</head>
<body>
    <header>
      <section class="top-header">
        <div>
             <img src="/images/weglamp.png" width="200">
         </div>
         <div> <a href="/main/index"><i class="fas fa-bars"></i></a>
                
         </div>
         <div class="main-header-top-bar">
                 <h2 class="log-in">
                       <a href="/user/login">Iniciar Sesion</a> </h2>
                 <h2 class="ayuda">
                         <a href="/main/index">volver</a></h2>
        </div>
    </header>
 <section class="detalle">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Nombre: DOMO <%= detalleProductos.name %> </div>
        <div class="card-body">
          <h5 class="card-title">Destino: <%= detalleProductos.destination %></h5>
          <p class="card-text"><h2>Precio: ARS<%= detalleProductos.prize %></h2>
            <br>
           <H2>Cantidad de pasajeros permitidos: <%= detalleProductos.pax %></H2> </p>
           
        </div>
      </div>
     
 </section>
 <footer> <%- include('../../partials/footer') %></footer>
</body>
</html>