<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/ede0f8a666.js" crossorigin="anonymous"></script>
    <title>new</title>
</head>
<body>
    
        <div class="modal-container" id="modal-container">
            
            <div class="modal">

            <section class="izquierda">
                <h1>Edita tu Domo</h1>
            <section class="usuario_crear">
                <h2 class="nuevo">Usuario nuevo?</h2>
                <a href="/users/register" class="crear">Crear una cuenta</a>
            </section>

            <form action="/booking/edit/<%= product.id %>?_method=PUT" method="POST">

               <section class="form">
                <p></p>
                <input type="text" name="destination" id="destination"  value="<%= product.destination %>" class="campo_usuario" placeholder="Ubicacion"><br>
                <p></p>
                <input type="text" name="name" id="name" value="<%= product.name %>" class="campo_contrasena" placeholder="tipo de domo">
                <p></p>
                <input type="text" name="pax" id="pax" value="<%= product.pax %>" class="campo_contrasena" placeholder="pax">
                <p></p>
                <input type="text" name="prize" id="prize" value="<%= product.prize %>" class="campo_contrasena" placeholder="precio">
                <p></p>
                <!--    <p></p>
                <label><input type="checkbox" class="mantenerme_logueado">Mantenerme logueado</label>-->
                <input type="submit" class="ingresar" value="Editar">
            </section>

            </form> 

            <section class="ingreso_alternativo">
                <hr> <h3> o ingresar con </h3> <hr>
            </section>
            <section class="redes">
                <i class="fab fa-google" class="icon_login"></i>
                <i class="fab fa-facebook" class="icon_login"></i>
                <i class="fab fa-linkedin" class="icon_login"></i>
                <i class="fab fa-twitter-square" class="icon_login"></i>
            </section>
            </section>

            <section class="derecha_arriba">
                <div class="cruz">
                <a href="/main/index"><i class="far fa-times-circle"></i></a>
                </div>
            </section>

            <section class="derecho_abajo">
                <img src="/images/weglamp-vert.png" alt="foto" class="imagen">
            </section>
        </div>

           
    </section>
</body>
</html>